{% extends "base.html" %}

{% block content %}
<h1 class='single-page-title'>New Video</h1>
<div class='form-container'>
    <form action='' method='post'>
        {{ form.hidden_tag() }}
        <div class='form-group'>
            {{ form.title.label(for="title") }}
            {{ form.title(class="form-control",id="title",placeholder="Video Title") }}
        </div>
        <div class='form-group'>
            {{ form.description.label(for="description") }}
            {{ form.description(class="form-control", rows="5", id="description") }}
        </div>
        <div class='form-group'>
            {{ form.video_link.label(for="video_link") }}
            {{ form.video_link(class="form-control",id="video_link",placeholder="Youtube/Dailymotion") }}
        </div>
        <button type='submit' class='btn btn-primary'>Add Video</button>
    </form>
</div>
{% endblock %}